/* Home.jsx */
.home-container {
  text-align: center;
  padding: 20px;
}

.login-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
}

.home-container p {
  margin-top: 10px;
}

/* Container for the entire page */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fa;
  /* Soft background color */
  margin: 0;

}

/* Login Form */
.login-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Heading */
.login-container h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  text-align: center;
}

/* Form Group */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #444;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

/* Focus effect */
.form-group input:focus {
  border-color: #646cff;
  outline: none;
}

/* Remember Me Section */
.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me input {
  margin-right: 8px;
}

.remember-me label {
  font-size: 0.9rem;
  color: #666;
}

/* Forgot Password Link */
.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  font-size: 0.9rem;
  color: #646cff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Submit Button */
.login-button {
  padding: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  color: #fff;
  background-color: #646cff;
  border: none;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #5b5bff;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
  .login-container {
    padding: 20px;
    width: 90%;
  }

  .login-container h2 {
    font-size: 1.6rem;
  }

  .form-group input {
    padding: 10px;
    font-size: 1rem;
  }

  .login-button {
    padding: 12px;
    font-size: 1rem;
  }
}